@import colors

body
	min-width: 1024px

	background: url('../img/bg.png')

	font:
		family: 'Open Sans'
		size: 16px

.container
	position: relative
	
	width: 1000px
	margin: auto

@import header/header

@import layout-main