.header
	position: relative
	margin-bottom: 35px

.header__logo
	position: absolute
	top: -20px
	z-index: 1
	// +s(logo)
	background: url(../img/logo.svg)
	width: 70px
	height: 122px

	+hidetext
	transition: 0.2s ease all
	&:hover
		top: -10px

.header__top
	height: 55px

	background: $main-color

.header__bottom
	height: 35px

	background: #fff

@import nav

.search
	position: absolute
	right: 0
	top: 10px

	width: 280px
	line-height: 35px

	background: $main-color_dark

	+border-radius(5px)
	+box-shadow(#1B2833 0 0 2px 0 inset)

.search__input
	width: 230px
	margin-left: 15px
	margin-top: 8px

	font-size: 0.875em

	background: $main-color_dark
	color: #ddd

	&::-webkit-input-placeholder
		color: #667079
	&:-moz-placeholder
		color: #667079

.search__submit
	position: absolute
	top: 10px
	right: 10px

	+s(search-icon)

	&:hover
		+s(search-icon--hover)