.widget-login
	position: relative

	height: 68px

	background: $main-color

	+border-radius(5px)

	text-align: center

.widget-login__icon
	position: absolute
	left: 60px
	bottom: 19px

	+s(widget-login__icon)

.widget-login__links
	position: absolute
	bottom: 24px
	left: 110px
	
	color: #fff

.widget-login__link
	margin-right: 15px

	font-weight: bold
	text-decoration: none

	color: inherit

	&:hover
		border-bottom: 2px solid #fff

.widget-login__separator
	margin-right: 15px

	font-weight: bold